@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --main-accent: #6520ff;
  --light-shadow: rgb(196, 196, 196);
}

html,
body,
#__next {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-width: 100vw !important;
  min-height: 100vh !important;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: "#959595";
}

* {
  box-sizing: border-box;
  font-family: Inter;
  transition-duration: 200ms;
}

.btn,
.btn-filled {
  padding: 1rem;
  border-radius: 4px;
  font-weight: 600;
  border: 2px solid var(--main-accent);
  color: var(--main-accent);
  margin: 1rem;
}

.btn-filled {
  /* font-family: poppins; */
  color: white;
  border: none;
  background-color: var(--main-accent);
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  height: 400px;
  width: min(680px, 90%);
  box-shadow: 0 0 4px 1px var(--light-shadow);
}

.blob,
.blob-filled {
  padding: 0.5rem;
  border-radius: 2px;
  color: var(--main-accent);
  font-weight: 500;
  border: 2px solid var(--main-accent);
  margin: 0.5rem;
  border-radius: 4px;
}
.blob-filled {
  background-color: var(--main-accent);
  color: white;
}

.main-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.input-outlined {
  padding: 0.5rem;
  border-radius: 4px;
  color: var(--main-accent);
  font-weight: 500;
  border: 2px solid var(--main-accent);
  margin: 1rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--main-accent);
}

.main-wrapper-dataset {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.ds-wrapper {
  width: 300px;
  height: 200px;
  background-color: var(--main-accent);
  border-radius: 16px;
  padding: 2rem;
  color: white;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.ds-wrapper > a {
  align-self: center;
  text-decoration: underline;
}

.ds-wrapper > p {
  width: 100%;
  overflow: hidden;
  margin-top: 0.5rem;
}

.ds-wrapper span {
  color: var(--main-accent);
  background-color: white;
  padding: 0.25rem;
  border-radius: 4px;
  margin: 0.25rem;
}

.ds-wrapper > .fields {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.dataset-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.main-data-page {
  display: flex;
  flex-direction: column;
}

.create-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: white;
  box-shadow: 0 0 8px 2px var(--light-shadow);
  width: 60vw;
  height: 70vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  overflow: scroll;
}

.create-form-wrapper > svg {
  align-self: flex-end;
  margin: 0;
  padding: 0;
  transform: scale(1.25, 1.25) translate(0px, -24px);
}

.create-form-wrapper > svg:hover {
  background-color: var(--light-shadow);
}
/* .form-wrapper {
  width: 90%;
  height: 90%;
} */

.form-wrapper {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.form-wrapper > div {
  display: flex;
  width: 36rem;
  display: flex;
  flex-direction: column;
}
.form-wrapper > div > label {
  font-weight: 400;
  margin-bottom: 0.25rem;
  margin-left: 1rem;
}

.databar {
  height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.databar > input {
  width: 35%;
}

.databar > button {
  padding: 0.5rem;
}

.ds-page-wrapper {
  width: 40%;
  height: 80%;
  box-shadow: 0 0 8px 2px var(--light-shadow);
  padding: 3rem;
}

.ds-page-wrapper > h2 {
  font-size: 2rem;
  font-weight: 600;
}
.ds-page-wrapper > h3 {
  font-size: 1.5rem;
}

.emr-wrapper {
  width: 40%;
  padding: 2rem;
}

.emr-wrapper h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.shadow {
  box-shadow: 0 2px 8px 2px var(--light-shadow);
}

.contribution-wrapper {
  width: 40%;
  padding: 2rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
